table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
tr
	{
		background-color:palevioletred;
		color:black;
    }
.dot {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 5px;
    color: #fff;
    line-height: 500px;
    text-align: center;
    background: #000
    }
    